<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mrspd.mrspdcoronatracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mrspd.mrspdcoronatracker.UI.PrecautionsActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name="com.mrspd.mrspdcoronatracker.UI.DistrictsActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name="com.mrspd.mrspdcoronatracker.UI.MainActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name="com.mrspd.mrspdcoronatracker.UI.AboutUsActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name="com.mrspd.mrspdcoronatracker.UI.TrustedSourceActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name="com.mrspd.mrspdcoronatracker.UI.WorldActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.mrspd.mrspdcoronatracker.UI.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>